.container {
    z-index: 99;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    max-height: 80vh;
}

.chatWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.chatContainer {
    min-height: 50vh;
    max-height: 80vh;
}

.chatButton {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}
