.container {
    z-index: 99;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 80vh;
}

.chatWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.chatContainer {
    width: 40rem;
    height: 80vh;
}

.chatButton {
    background-color: #fff;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
}
